docs/

# Besu network runtime files
permissioned_network/logs/
permissioned_network/.quorumDevQuickstart.lock

# Node private keys (sensitive)
permissioned_network/config/nodes/*/nodekey
permissioned_network/config/nodes/*/accountPrivateKey
permissioned_network/config/nodes/*/accountKeystore
permissioned_network/config/nodes/*/accountPassword
permissioned_network/config/ethsigner/key
permissioned_network/config/ethsigner/password


permissioned_network/config/nodes/member*/

permissioned_network/config/tessera/
permissioned_network/config/ethsigner/
permissioned_network/config/grafana/
permissioned_network/config/kibana
permissioned_network/config/prometheus/
permissioned_network/loki/
permissioned_network/metricbeat/
permissioned_network/promtail/
permissioned_network/quorum-explorer/
permissioned_network/splunk/
permissioned_network/ 
permissioned_network/.common.sh
permissioned_network/README.md
permissioned_network/chainlens/
permissioned_network/config/besu/CLIQUEgenesis.json
permissioned_network/config/besu/IBFTgenesis.json
permissioned_network/config/besu/log-config-splunk.xml
permissioned_network/config/besu/log-config.xml
permissioned_network/dapps/
permissioned_network/extra/
permissioned_network/filebeat/
permissioned_network/logstash/
permissioned_network/smart_contracts/
permissioned_network/static/